/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300;1,400&display=swap"); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.input-field input[type="email"]:active {
  color: red !important;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-80 {
  padding-top: 80px;
}

.img_product {
  width: 540px;
  height: 300px;
  margin: auto;
  overflow: hidden;
}

.min-vh-50 {
  min-height: 50vh;
}
.min-vh-70 {
  min-height: 70vh;
}

.s-50 {
  width: 50px;
  height: 50px;
}

.auth-logo {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.margin-auto {
  margin: 0 auto;
}

.w-35 {
  width: 35%;
}

.w-80 {
  width: 80%;
}

.w-68 {
  width: 68%;
}

.w-87 {
  width: 87%;
}

.w-70 {
  width: 70%;
}

.cursor-pointer {
  cursor: pointer;
}

.footer {
  position: relative !important;
  bottom: 0 !important;
  width: 100%;
  background-color: #202325;
}

.icon_box_style4 {
  padding: 0px !important;
}

/* .input-field input[type='email'].valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
} */

.linearicons-magnifier:hover,
.search_btn:hover {
  color: #19cf5fce;
}

#ex3 .fa-shopping-cart {
  color: #1f1a17;
  font-size: 24px;
}

#ex3 .fa-stack[data-count]:after {
  position: absolute;
  right: -7px;
  top: -7px;
  content: attr(data-count);
  font-size: 80%;
  padding: 0.5rem;
  border-radius: 50%;
  line-height: 0.4rem;
  color: white;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  min-width: 1.5rem;
  font-weight: bold;
}

.product-carousel {
  height: 600px;
}
.product-carousel .thumbnails {
  top: -95px;
}

.formNav {
  margin: 0 auto;
  width: 80%;
}

.carousel-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.carousel-inner {
  border-radius: 3px;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.slide .content {
  z-index: 2;
  position: relative;
}

.img-width {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.mt-100 {
  margin-top: 100px;
}

/* .section-padding {
} */
